body{
  background-color: #F0EAD6 !important;
}

/* HEADER */

/*All pages*/
#title h1{
  font-size: 42px;
  font-weight: 700;
  padding-left: 10px;
  position: absolute;
  bottom:0;
}

#menu h3{
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    position: absolute;
    bottom   : 0;
}



/*About page*/
#header{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #57551d;
  height:100px;
  position: relative;
  color: white;
}

#header a{
    color: white;
    text-decoration: none;
}


/*Work pages*/
#header-general{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
  height:100px;
  position: relative;
  color: #57551d;
}

#header-general a{
    color: black;
    text-decoration: none;
}

/*Responsive layout*/
@media screen and (max-width: 800px) {
  #title h1{
    position: relative;
  }
  #menu h3{
    position: relative;
  }
  #header{
    margin: 0%;
  }
}


/*MIDDLE*/

/*All pages*/
#middle{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin-top: 8%;
}

/*About page*/
#photo-background{
  background-color: white;
  border: 1.5px solid black;
  min-width: 400px;
}

#photo img{
  min-width: 400px;
  max-width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 10%;
  position: relative;
}

#bio{
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 8%;
}

#bio p{
  padding-left: 50px;
}

/*General work page*/
#middle-work{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin-top: 8%;
}

#middle-work a{
  text-decoration: none;
  color: black;
}


/*Cards img have to be 800x600*/
.card{
    border: 1.5px solid black !important;
    border-radius: 0px !important;
    margin-bottom: 20px !important;
}

.card-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}


/*Article page*/
.container-fluid-article{
  margin: 8%;
}

#content-box{
  background-color: white;
  border: 1.5px solid black;
  padding: 20px;

}

#data-viz img{
  width: 100%;
  padding: 10px;
}

#data-viz-text h6{
  font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 10px;
}


#content-box p{
font-family: 'Baskerville';
font-size: 22px;
  font-weight: 100;
}

#content-box a{
  color: black;
}

#title-intro{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/*Responsive layout*/
@media screen and (max-width: 800px) {
  .container-fluid-article{
    margin: 2%;
  }
}

/*FOOTER*/
#footer-links{
  background-color: #57551d;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

#footer-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: white;
}
