body{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin:0;
  padding: 0;
  min-width: 100%;
  display: inline-block;
/*font-family: 'Trebuchet MS', sans-serif;*/
}



/*TOP*/

#top{
  padding-top: 60px;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
  float:left;
  display: inline-block;
/*  background-color: #1a2b36;
  border-bottom-style:solid;
  border-bottom-color: #35586C	;
  border-bottom-width: 5px;*/
}

#title{
  float: left;
  width: 70%;
  min-width: 500px;
}

#title a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 1000;
}

#menu{
  float: right;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 15px;
}

#menu a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-style: solid;
    padding: 15px;
    text-align: left;
    float: right;
}

#title a:hover{
color : #35586C;
}


#menu a:hover{
  color: white;
  background-color: #35586C;
}

#menu a:clicked{
  color: white;
  background-color: #35586C;
}

@media (max-width:800px){
        #menu {
            padding-top: 0px;
            padding-left: 5px;
            float: left;
        }
}

#blog-menu a{
  text-decoration: none;
  background-color: #35586C;
  color: white;
  border-style: solid;
  padding: 15px;
  text-align: left;
  float: right;
}


/*MIDDLE*/

#middle{
  padding: 3%;
  width: 94%;
  float: left;
}

#bio{
  width: 50%;
  float: left;
  max-width: 700px;
  padding-right: 3%;
}

#bio p{
  font-size: 18px;
}

#photo{
  float: right;
  padding-right: 3%;
}

#photo img{
  min-width: 300px;
    max-height: 500px;
    max-width: 100%;
}

@media (max-width:800px){
        #photo{
          float: left;
        }

}


/*BOTTOM*/

#bottom{
  float: left;
  padding-left: 45%;
}

@media (max-width:800px){
        #bottom{
          padding-left: 35%;
        }
}

.link-icon{
  width: 30px;
  float: left;
  padding: 10px;
}

.link-icon img{
  width: 30px;
}



/*BLOG*/

.blog-card{
  width: 32%;
  min-width: 300px;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
}

.blog-card a{
  text-decoration: none;
  color: black;
}

.blog-photo {
  width: 100%;
}

.img_description{
  position: absolute;
  visibility: hidden;
  text-align: center;
  vertical-align: middle;
  width:90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.blog-card:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.blog-card:hover .blog-photo {
  opacity: 0.5;
}

/*Responsive layout*/
@media screen and (max-width: 800px) {
  .blog-card {
    width: 100%;
  }
}

#article{
  width: 100%;
}

#text-title img{
  width: 100%;
}

#text-title {
  width: 80%;
  padding-left: 10%;
}

#text{
  width: 80%;
  padding-left: 10%;
}

#text-title h1{
  text-align: center;
  font-family: 'Merriweather';
}

#text-title h2{
  text-align: center;
  font-family: 'Roboto';
}

#text h1{
  text-align: left;
  font-family: 'Merriweather';
}

#text h2{
  text-align: center;
  font-family: 'Roboto';
}


#text-title h3{
  text-align: center;
  font-family: 'Roboto';
  font-weight: 100;
}
#text-title a{
  color:grey;
  font-size: 18px;
  text-decoration: underline;
}

#text a{
  color: black;
  text-decoration: underline;
}

#text p{
  font-family: 'Merriweather';
  font-size: 20px;
  font-weight: 200;
}

#text ul{
  font-family: 'Merriweather';
  font-size: 20px;
}

#text img{
  width: 100%;
}
/*iframe{
  min-width: 700px;
}*/

@media (max-width:800px){
  #top{
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 0px;
    float:left;
    display: inline-block;
  }

  #middle{
    padding: 1%;
    float: left;
    width: 98%;
  }

  #text-title {
    width: 100%;
    padding-left: 0px;
  }

  #text{
    width: 100%;
    padding-left: 0px;
  }

}
