
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin:0;
  margin-right: 0px;
  padding: 0px;
  width: 100%;
  display: inline-block;
/*font-family: 'Trebuchet MS', sans-serif;*/
}

/*TOP*/

#top{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  padding-top: 60px;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  float:left;
  display: inline-block;
/*  background-color: #1a2b36;
  border-bottom-style:solid;
  border-bottom-color: #35586C	;
  border-bottom-width: 5px;*/
}

#title{
  float: left;
  width: 70%;
  min-width: 500px;
  font-size: 24px;
  font-weight: 1000;
}

#title h1{
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

#title a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 1000;
}

#menu{
  float: left;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 15px;
}


#title a:hover{
color : #35586C;
}

.dropbtn{
  background-color: #35586C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 3%;
}


.dropdown a:clicked{
  color: white;
  background-color: #35586C;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2f4d5f;
}


/*MIDDLE*/

#middle{
  width: 100%;
  float: left;
}

#bio{
  width: 50%;
  float: left;
  max-width: 700px;
  padding-right: 3%;
  padding-left: 3%;
}

#bio p{
  font-size: 18px;
  text-align: justify;
}

#photo{
  float: right;
  padding-right: 3%;
}

#photo img{
  min-width: 300px;
  max-height: 500px;
  max-width: 100%;
}



/*BOTTOM*/

#bottom{
float: left;
  margin: auto;
  margin-left: 45%;
}


.link-icon{
  float: left;
  padding: 10px;

}

.link-icon img{
  width: 30px;
}




/*BLOG*/


.blog-card{
  width: 32%;
  min-width: 300px;
  float: left;
  padding: 7px;
  position: relative;
}

.blog-card a{
  text-decoration: none;
  color: black;
}

.blog-photo {
  width: 100%;
}

.img_description{
  position: absolute;
  visibility: hidden;
  text-align: center;
  vertical-align: middle;
  width:90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.blog-card:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.blog-card:hover .blog-photo {
  opacity: 0.5;
}



#article{
  width: 100%;
  float: left;
}

#text-title img{
  width: 100%;
}

#text-title {
  width: 80%;
  margin-left: 10%;
  float: left;
}

#text{
  width: 80%;
  margin-left: 10%;
  float: left;
}



#text-title h1{
  text-align: center;
  font-family: 'Merriweather';
  font-size: 34px;
  font-weight: 100;
  line-height: 1.5;
}

#text-title h2{
  text-align: center;
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 1.5;
}

#text h1{
  text-align: left;
  font-family: 'Merriweather';

}

#text h2{
  text-align: center;
  font-family: 'Roboto';

}


#text-title h3{
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
}

#text-title a{
  color:grey;
  font-size: 18px;
  text-decoration: underline;
}

#text a{
  color: black;
  text-decoration: underline;
}

#text p{
  font-family: 'Merriweather';
  text-align: justify;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

#text ul{
  font-family: 'Merriweather';
  font-size: 20px;
}

#text img{
  width: 100%;
}
/*iframe{
  min-width: 700px;
}*/


  /*Responsive layout*/
  @media screen and (max-width: 800px) {
    .blog-card {
      width: 100%;
    }

    #top{
        padding-top: 60px;
        padding-left: 1%;
        padding-right: 1%;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        float:left;
        display: inline-block;
      }

    #middle{
    padding: 1%;
    float: left;
    width: 100%;
  }

  #bottom{
  float: left;
    margin: auto;
    padding-left: 35%;
  }

  #menu {
      padding-top: 0px;
      float: left;
  }

  #menu a{
      float: left;
  }


  #photo{
    float: left;
    width: 100%;
  }

  #bio{
    width: 100%;
    float: left;
  }

  #text-title {
    width: 100%;
    padding-left: 0px;
    margin-left: 0%;
  }

  #text{
    width: 100%;
    padding-left: 0px;
    margin-left: 0%;
  }

  .img_description{
    position: absolute;
    visibility: visible;
    text-align: center;
    vertical-align: middle;
    width:90%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }

  .img_description h5{
    visibility: hidden;
  }


  iframe{
    width: 500px;
    float: left;
  }




}
/*MAP TREE*/

#map_trees{
  outline-style: solid;
  padding: 3px;
}

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 60%; /*aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }

  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }

  svg .rect {
    fill: white;
    stroke: steelblue;
    stroke-width: 5px;
  }

/*TOOLTIP for FRANCOPHONE RAP BATTLE*/
  .d3-tip {
        line-height: 1;
        padding: 6px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
        font-family: "Roboto";
      }


  /*TIDY TUESDAYS*/

.tt-intro{
    margin-left : 3%;
    margin-right : 3%;
}

.tt-intro a{
  color : black;
  font-weight: bold;
}

.tt-entry{
  padding :10px;
  margin-left : 3%;
  margin-bottom : 3%;
  border-style: solid;
  border-color: grey ;
    border-width: 1px;
  width: 90%;
  float: left;
}

.tt-text{
  float: left;
  width: 35%;

}

.tt-text a{
color: black;
}

.tt-img{
  float : right;
  width : 60%;
  border-style: solid;
  border-width: 0.2px;
  border-color: grey;
}

/*Responsive layout*/
@media screen and (max-width: 800px) {
  .tt-text{
    width: 100%;
    padding-left: 0%;
  }
  .tt-img{
    float : left;
    width : 100%;
  }
}
